{% extends "base.html" %}

{% block content %}

                <div class="container">
                    <div class="mb-1">
                        <h1 class="my-5" style="text-align: center;">Welcome to Blogz!</h1>
                    </div>
                        <div class="row">
                                <div class="col-12">
                    <img class="img-fluid" src="../static/HomePagePhoto.jpg" id="main_pic"/>
                    <div class="mt-5"><strong><p style="margin-right: 75%;">The purpose of this site is to allow its users to create an
                         account for blogging.</p></strong> </div>    
                                </div>
                        </div>
                </div>
                        
 

<div class="row mt-n5 pb-3" style="background-color:#FFF;">
  
{% for profile in profiles %}
    <div class="col-2" id="profiles">
        <a style="color:#000;" href="/profile_select?id={{profile.id}}">{{profile.name}}</a></li>
    </div>
    </table>
{% endfor %}


</div>
<!-- </div> -->
<footer class="pt-3 pl-3" style="font-size: 16px; background-color: rgb(160, 159, 159); color: #000; ">Created by Micih Hines. Email: micih.hines@gmail.com</footer>
{% endblock %}