{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Login</h1>

<div class="container">
        <div class="row">
            <div class="col-12">
    <img class="img-fluid" src="../static/writing_pic_1.jpg" id="r_pic"/>
    
    {{error}}
    <br>
    
    <form action="/logConfirm" method="POST">
        <label>
            <strong>Email</strong>
            <input class="form-control"  type="text" name="email" value="">
        </label>
        <br>

        <label>
            <strong>Password</strong>
            <input class="form-control"  type="password" name="password" value="">
        </label>
        <br>

        <input id="b_button" class="btn btn-danger" type="submit" value="Login">
    </form>
            </div>
        </div>
    </div>

    <footer id="fix_footer" style="font-size: 16px; background-color: rgb(160, 159, 159); color: #000;" >Created by Micih Hines. Email: micih.hines@gmail.com</footer>
    {% endblock %}